/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$angleStart: -360deg;
$buttonSize: 250px;
$optionSize: 150px;
$spacing: 20px;
$speed: .8s;

html, body {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(#eee, #ccc);
    overflow: hidden;
}
.navbar {
	margin-left: 20px;
}
.main {
	margin-left: 20px;
}

.selector {
    position: absolute;
    left:50%; top:40%;
    width:$buttonSize; height:$buttonSize;
    margin-top: -$buttonSize/2;
    margin-left: -$buttonSize/2;
}

.selector, .selector button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.selector button {
    position: relative;
    width:100%; height:100%;
    padding: 20px;
    background: #428bca;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    transition: all .1s;
}
.selector button:hover {
    background: #3071a9;
}
.selector button:focus {
    outline: none;
}

.selector ul {
    position: absolute;
    list-style: none;
    padding:0; margin:0;
    top:-$spacing; right:-$spacing; bottom:-$spacing; left:-$spacing;
}

.selector li {
    position: absolute;
    width:0; height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate($angleStart);
    transition: all $speed ease-in-out;
}

.selector li input {
    display: none;
}

.selector li input + label {
    position: absolute;
    left:50%; bottom:100%;
    width:0; height:0;
    line-height: 1px;
    margin-left: 0;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all $speed ease-in-out, color .1s, background .1s;
}
.selector li input + label:hover {
    background: #f0f0f0;
}
.selector li input:checked + label {
    background: #5cb85c;
    color: white;
}
.selector li input:checked + label:hover {
    background: #449d44;
}
.selector.open li input + label {
    width:$optionSize; height:$optionSize;
    line-height: $optionSize;
    margin-left: -($optionSize/2);
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    font-size: 14px;
}

