// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song {
	color:red;
}

.talk {
	color:blue;
}

#noshow {
	display:none;
}

/*.panel{
	float:right;
	height:20px;
	width:200px;
	background-color:blue;
}*/

.yellow {
	height: 850px;
	width: 350px;
	background-color: beige;
	float:right;
	overflow:scroll;
}



